<tr class="item_line">
  <td><%= order_detail.product.name %></td>
  <td>&times;</td>
  <td><%= order_detail.quantity %></td>
  <td class="item_price"><%= number_to_currency(order_detail.total_price) %></td>
</tr>