<h1>Listing order_details</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Cart</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.product_id %></td>
        <td><%= order_detail.cart_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
