html {
	height: 100%;
}

// Header Common
header {
	margin-bottom: 15px;
}

// Contents Common
#contents {
	height: 80%;
	margin-bottom: 15px;
	h1 {
	  margin: 0;
	  padding-bottom: 0.5em;
	  font: 200% sans-serif;
	  color: #226;
	}
}

// Sidebar Common
aside {
  h1 {
    font: 200% sans-serif;
  }
}

// Footer Common
footer {
	margin-left: 15px;
	clear: both;
}
