// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
  #contents {
    h1 {
      margin: 0;
		  padding-bottom: 0.5em;
		  font: 200% sans-serif;
		  color: #226;
    }
	  table {
	    border-collapse: collapse;
	  }

		.list_image {
		  width: 70px;
		  height: 60px;
		}

		.list_description {
		  width: 60%;
		  dl {
		    margin: 0;
		  }
		  dt {
		    color: #244;
		    font-weight: bold;
		    font-size: larger;
		  }
		  dd {
		    margin: 0;
		  }
		}

		.list_actions {
		  font-size: x-small;
		  text-align: right;
		  padding-left: 1em;
		}
	}
}