// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
	/* ストア内のエントリ */
	.entry {
	  overflow: auto;
	  margin-top: 1em;
	  border-bottom: 1px solid grey;

	  img {
	    width: 80px;
	    margin-right: 5px;
	    margin-bottom: 5px;
	    position: absolute;
	  }

	  h3 {
	    font-size: 120%;
	    font-family: sans-serif;
	    margin-left: 100px;
	    margin-top: 0;
	    margin-bottom: 1px;
	  }

	  p, div.price_line {
	    margin-left: 100px;
	    margin-top: 0.5em;
	    margin-bottom: 0.7em;

	    form, div {
	      display: inline;
	    }
	  }

	  .price {
	    color: #44a;
	    font-weight: bold;
	    margin-right: 3em;
	  }
	}
}